* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}



.left {
    background-image: url('images/bg-image.jpg');
    background-size:  cover;
    position: fixed;
    height: 100vh;
    width: 50%;
    position: absolute;
    display: block;
  }


  .right {
    height: 100vh
    width: 50%;
     position: absolute; 
    top: 100;
    left: 50%;
  }

  input {
  padding: 10px 10px;
  display: block;
  width: 500px;
  margin-bottom: 20px;
  border: 1px solid #b9b9b9;
  font-size: 15px;
  border-radius: 4px;
}

.btn-1 {
  padding: 10px 10px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #4169e1;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  background-color: #4169e1;
  cursor: pointer;
}

.btn-1:hover {
  background: #034388;
}

h2, p {
  color: white;
  padding: 10px;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: center;
}


